*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: .3s linear;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
}

body{
  overflow-x: hidden;
}

section{
  padding: 5rem 7%;
}

.btn{
  background:  hsl(180, 66%, 49%);
  color: white;
  padding: 1rem 3rem;
  border-radius: 3rem;
}

.btn:hover{
  cursor: pointer;
  opacity: .7;
}



@media(min-width:1500px){
  section{
    padding-inline: 18%;
  }
  
}

@media(max-width:900px){

  html{
    font-size: 60%;
  }
  

  section{
    padding-inline: 3rem;
  }
}